<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yoke QRGen</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="centered-container">
      <h1>QR Code Display</h1>
      <img id="qrCodeImage" src="" alt="QR Code" />
      <script src="/js/updateqr.js"></script>
    </div>
  </body>
</html>
